@font-face {
    font-family: 'CustomFont';
    src: url('src/assets/fonts/Greek-Freak.ttf') format('truetype');
}

html, body {
    overflow: hidden; /* Verhindert das Scrollen */
    height: 100%; /* Stellt sicher, dass der Body die gesamte Höhe einnimmt */
    margin: 0;
    padding: 0;
}

#gameCanvas {
    border: 1px solid #000;
    font-family: 'CustomFont', monospace;
}